body {
  /* background: #E50914; */
  box-sizing: border-box;
  background-color: #181818;
  color: #fff;
}

/* .net-nav-outer { */
/* background-color: rgba(0, 0, 0, 0.75); */
/* background-color: white; */
/* color: #fff; */
/* } */

.net-nav {
  display: inline-block;
}

.net-nav li {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 1rem;
}

.net-nav-list li {
  margin-left: 0.7rem;
}

@media (min-width: 747px) {
  .net-nav-list li {
    margin-left: 1rem;
  }
  /* .net-nav-list {
    margin-right: -50px;
  } */
}

a,
.btn-style {
  color: rgba(247, 247, 247, 0.568);
  /* text-decoration: none; */
}

a:hover,
.btn-style:hover,
.list li:hover {
  color: rgba(247, 247, 247, 0.849);
  text-decoration: none;
}

h1 {
  /* font-size: larger; */
  font-size: 1.3rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.7rem;
}

.genre-btn {
  border: 1px solid rgba(247, 247, 247, 0.158);
  font-size: 0.7rem;
  width: 4rem;
  text-align: left;
}

.information-section {
  width: 70%;
  margin: auto;
}
.icon-section {
  margin-left: 45px;
}

.sm-icon {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* .listSect{
    dis
} */

.list {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  font-size: 0.6rem;
  list-style: none;
}

.list li {
  padding: 2px;
  list-style: none;
  color: rgba(247, 247, 247, 0.158);
}

.service-btn {
  border-radius: 1px;
  border: 1px solid rgba(247, 247, 247, 0.158);
  margin-bottom: 50px;
}

.service-btn,
.copyright {
  margin-left: 45px;

  font-size: 0.8rem;
  font-size: 0.6rem;

  padding: 3px;
  color: rgba(247, 247, 247, 0.158);
}
